body{
    font-size: 14px;
    background-color: #ffffff;
}
.list{
    font-size: 14px;
}
.search{
    display: flex;
    padding: 5px 10px;
}
.search_left{
    display: flex;
    align-items:center;
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 4px;
}
.search_right{
    flex: 1;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-left: 8px;
    line-height: 2;
    padding: 3px 10px;
}
.blue{
    color: #1e20ff;
}
.sort{
    padding: 10px 0;
}
.sort>text{
    width: 23%;
    display: inline-block;
    text-align: center;
}